---
---

html, body {
  height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
.jumbotron {
  background: no-repeat center right fixed  url({{ site.baseurl }}/img/cover1.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.jumbotron .container h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
  border-bottom-color: rgba(255,255,255,0.35);
  display: inline-block;
}

.jumbotron h1 {
  font-weight: 700;
}

.jumbotron .container > * {
  text-align: center;
  color: #FFFFFF;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

h1, h4 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
  font-family: 'Open Sans', sans-serif !important;
  margin-bottom: 20px;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul > li .ability-title {
  display: inline-block;
  width: 60%;
}

ul > li .ability-score .glyphicon {
  color: #DFE0E0;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

ul > li .ability-score .glyphicon.filled {
  color: #22A39F;
}
