---
layout: default
title: Resume
---

<div class="container">
  <h2>About Me</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="container">
  <h2>Abilities</h2>
  {% for skillgroup in site.data.skills %}
  {% capture skilllimit %}{{ skillgroup.skills | size | plus:1 | divided_by:2 }}{% endcapture %}
  <h3>{{ skillgroup.name }}</h3>
  <div class="row">
    {% for i in (0..1) %}
    {% capture skilloffset %}{{ skilllimit | times:i }}{% endcapture %}
    <div class="col-md-6">
      <ul class="no-bullets">
        {% for skill in skillgroup.skills limit:skilllimit offset:skilloffset %}
        {% include resume/skill.html skill=skill.name stars=skill.stars %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>


<h1>placeholder</h1>
