---
layout: default
title: Resume
---

<div class="container">
  <h2>About Me</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="container">
  <h2>Abilities</h2>
  <h3>Programming Languages</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        {% include resume/skill.html skill="Python" stars=5 %}
        {% include resume/skill.html skill="C/C++" stars=5 %}
        {% include resume/skill.html skill="Bash/shell scripting" stars=5 %}
        {% include resume/skill.html skill="Golang" stars=4 %}
        {% include resume/skill.html skill="Javascript" stars=4 %}
        {% include resume/skill.html skill="HTML(5)" stars=4 %}
        {% include resume/skill.html skill="CSS(3)" stars=3 %}
        {% include resume/skill.html skill="Golang" stars=3 %}
        {% include resume/skill.html skill="PHP" stars=3 %}
        {% include resume/skill.html skill="Java" stars=2 %}
        {% include resume/skill.html skill="Ruby" stars=1 %}
      </ul>
    </div>
  </div>

  <h3>Tools</h3>
  <div class="row">
    <div class="col-md-6">
      <ul class="no-bullets">
        {% include resume/skill.html skill="Vagrant" stars=5 %}
        {% include resume/skill.html skill="Docker" stars=5 %}
        {% include resume/skill.html skill="Libvirt/qemu" stars=4 %}
        {% include resume/skill.html skill="Xen server" stars=5 %}
        {% include resume/skill.html skill="Openstack" stars=3 %}
        {% include resume/skill.html skill="MySQL" stars=5 %}
        {% include resume/skill.html skill="Redis" stars=4 %}
        {% include resume/skill.html skill="RabbitMQ" stars=4 %}
        {% include resume/skill.html skill="MongoDB" stars=3 %}
        {% include resume/skill.html skill="KairosDB" stars=4 %}
        {% include resume/skill.html skill="Hadoop" stars=5 %}
        {% include resume/skill.html skill="Cassandra" stars=3 %}
        {% include resume/skill.html skill="Elasticsearch" stars=3 %}
        {% include resume/skill.html skill="Archlinux" stars=5 %}
        {% include resume/skill.html skill="Ubuntu" stars=4 %}
        {% include resume/skill.html skill="Centos" stars=5 %}
        {% include resume/skill.html skill="LDAP/Kerberos" stars=2 %}
        {% include resume/skill.html skill="Nginx" stars=5 %}
        {% include resume/skill.html skill="Apache" stars=4 %}
        {% include resume/skill.html skill="Lighttpd" stars=4 %}
        {% include resume/skill.html skill="Chef" stars=4 %}
      </ul>
    </div>
  </div>
</div>


<h1>placeholder</h1>
